# Ignore everything
/*
!.ackrc
!.gitconfig
!.gitignore
!.gitignore_global
!.iterm2
!.iterm2_shell_integration.zsh
!.tern-config
!.tmux.conf
!.vimrc
!.zshrc
!.zpreztorc
!.zprofile
!.kitrc
!kitmux.sh
!script
**/.DS_Store
