# Ignore everything
/*
!.ackrc
!.bash_aliases
!.bash_profile
!.bashrc
!.ctags
!.gitconfig
!.gitignore
!.gitignore_global
!.hammerspoon
!.hyper.js
!.irssi
!.iterm2
!.iterm2_shell_integration.zsh
!minions.key
!minions.kdbx
!.slate
!.tern-config
!.tmux.conf
!.vimrc
!.zshrc
!.zpreztorc
**/.DS_Store
