# Ignore everything
/*
!.ackrc
!.bash_aliases
!.bash_profile
!.bashrc
!.ctags
!.gitconfig
!.gitignore
!.gitignore_global
!.hammerspoon
!.hyper.js
!.iterm2
!.iterm2_shell_integration.zsh
!.tmux.conf
!.vim/
.vim/undodir
!.vimrc
!.zshrc
**/.DS_Store
