# Glogal git configuration file.
[alias]
	praise = blame
	today = log --since=00:00:00 --all --no-merges --oneline --author=joerexko@gmail.com
	peep = "!git fetch && git checkout origin/$1 #"
	download = "!hub clone $1 #"
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	showbranch = auto
[user]
	name = Joseph Rex
	email = joerexko@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[init]
	defaultBranch = main
